@import "../variables.scss";

.ui {
  &.vertical.sidebar.menu {
    color: $customDarkColor;
    background-color: $customSecondaryColor;

    & > .item:first-child:before {
      display: none !important;
    }

    & > .item {
      font-size: 1.2em;
    }

    & > .item > img {
      margin-top: 1.2em;
    }

    & > .item > .buttons {
      position: relative;
      margin-top: 1rem;

      & > .button:hover {
        background-color: $customPrimaryColor !important;
      }
    }

    .menu-button-close {
      position: fixed;
      right: -0.2em;
      z-index: 1;
    }
  }
}
