@import "../variables.scss";

.ui {
  &.vertical.segment.header-content {
    background-color: $customBackgroundColor;
  }

  &.header {
    color: $customFontColor;
  }
}

.ya-prefix {
  color: $customPrimaryColor;
}

.header-search {
  margin-left: 1.4em;
  height: 36px;
  vertical-align: middle;
}
