@import "./scss/variables.scss";
@import "./scss/header.scss";

.pusher {
  height: 100vh;
}
.ui.sidebar.vertical.menu {
  color: $customDarkColor;
  background-color: $customSecondaryColor;
}

.ui.vertical.sidebar.menu > .item:first-child:before {
  display: none !important;
}
