@import "components/variables.scss";

.ui {
  &.button {
    background-color: $customSecondaryColor;
    color: $customDarkColor;

    &:active,
    &:hover,
    &:focus {
      background-color: $customSecondaryColor;
    }
  }
  &.body-content {
    min-height: 150vh;
  }
}

.clear-float {
  clear: both;
}
