.ui {
  &.vertical.segment.header-content {
    background-color: $customBackgroundColor;
    min-height: 30vh;
  }

  &.header {
    color: $customFontColor;
  }
}

.ya-prefix {
  color: $customPrimaryColor;
}
